# 排除 Java 相关
**/target/
**/.idea/
**/.mvn/
**/.classpath
**/.project
**/.settings/
*.log

# 排除前端相关
**/node_modules/
**/dist/
**/.vscode/

# 排除 Docker 相关
.dockerignore
docker-compose.yml

# 排除 Git 相关
.git
.gitignore
