# Java
target/
*.class
*.jar
*.war
*.ear

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath

# UI
ai-portal-ui/node_modules/
ai-portal-ui/dist/
.DS_Store

# Gemini
.gemini/tmp/

# Custom Ignore Settings
docs/local/
